cpe:/a:ietf:md5
cpe:/a:ietf:x.509_certificate
cpe:/a:openssl:openssl
cpe:/a:apache:http_server
cpe:/a:oracle:database_server
cpe:/a:oracle:listener
cpe:/a:igor_sysoev:nginx
cpe:/a:isc:bind
cpe:/a:microsoft:iis
cpe:/a:ntp:ntp
p-cpe:/a:centos:centos:libgudev1
p-cpe:/a:centos:centos:libgudev1-devel
p-cpe:/a:centos:centos:systemd
p-cpe:/a:centos:centos:systemd-devel
p-cpe:/a:centos:centos:systemd-journal-gateway
p-cpe:/a:centos:centos:systemd-libs
p-cpe:/a:centos:centos:systemd-networkd
p-cpe:/a:centos:centos:systemd-python
p-cpe:/a:centos:centos:systemd-resolved
p-cpe:/a:centos:centos:systemd-sysv
cpe:/o:centos:centos:7
p-cpe:/a:centos:centos:dhclient
p-cpe:/a:centos:centos:dhcp
p-cpe:/a:centos:centos:dhcp-common
p-cpe:/a:centos:centos:dhcp-devel
p-cpe:/a:centos:centos:dhcp-libs
cpe:/o:centos:centos:7
p-cpe:/a:centos:centos:kernel
p-cpe:/a:centos:centos:kernel-abi-whitelists
p-cpe:/a:centos:centos:kernel-debugs