Microsoft Windows Server 2012 Standard
Linux Kernel 2.6
Citrix NetScaler
Linux Kernel 3.10 Linux Kernel 3.5 Linux Kernel 3.8 Linux Kernel 3.9
Microsoft Windows Server 2012 R2 Standard
F5 Networks BIG-IP