7.5,CVSS2#AV:N/AC:L/Au:N/C:P/I:P/A:P,6.5,CVSS2#E:ND/RL:OF/RC:C
2.6,CVSS2#AV:N/AC:H/Au:N/C:N/I:N/A:P,2.3,CVSS2#E:ND/RL:OF/RC:C
10.0,CVSS2#AV:N/AC:L/Au:N/C:C/I:C/A:C,8.7,CVSS2#E:ND/RL:OF/RC:C
9.3,CVSS2#AV:N/AC:M/Au:N/C:C/I:C/A:C,8.1,CVSS2#E:ND/RL:OF/RC:C
9.3,CVSS2#AV:N/AC:M/Au:N/C:C/I:C/A:C,7.3,CVSS2#E:POC/RL:OF/RC:C
9.3,CVSS2#AV:N/AC:M/Au:N/C:C/I:C/A:C,7.7,CVSS2#E:F/RL:OF/RC:ND
6.8,CVSS2#AV:N/AC:M/Au:N/C:P/I:P/A:P,5.9,CVSS2#E:ND/RL:OF/RC:C
7.1,CVSS2#AV:N/AC:M/Au:N/C:N/I:N/A:C,5.3,CVSS2#E:U/RL:OF/RC:C
4.3,CVSS2#AV:N/AC:M/Au:N/C:N/I:P/A:N,3.7,CVSS2#E:ND/RL:OF/RC:C
6.5,CVSS2#AV:N/AC:L/Au:S/C:P/I:P/A:P,5.4,CVSS2#E:F/RL:OF/RC:ND
2.6,CVSS2#AV:N/AC:H/Au:N/C:P/I:N/A:N,2.3,CVSS2#E:ND/RL:OF/RC:C
4.0,CVSS2#AV:N/AC:L/Au:S/C:P/I:N/A:N,3.5,CVSS2#E:ND/RL:OF/RC:C
7.8,CVSS2#AV:N/AC:L/Au:N/C:N/I:N/A:C,6.8,CVSS2#E:ND/RL:OF/RC:C
7.8,CVSS2#AV:N/AC:L/Au:N/C:N/I:N/A:C,5.8,CVSS2#E:U/RL:OF/RC:C
6.4,CVSS2#AV:N/AC:L/Au:N/C:P/I:P/A:N,5.0,CVSS2#E:POC/RL:OF/RC:ND
7.8,CVSS2#AV:N/AC:L/Au:N/C:N/I:N/A:C,6.4,CVSS2#E:F/RL:OF/RC:ND
5.0,CVSS2#AV:N/AC:L/Au:N/C:N/I:N/A:P,4.3,CVSS2#E:ND/RL:OF/RC:C
10.0,CVSS2#AV:N/AC:L/Au:N/C:C/I:C/A:C,7.4,CVSS2#E:U/RL:OF/RC:C
5.8,CVSS2#AV:N/AC:M/Au:N/C:P/I:P/A:N,5.0,CVSS2#E:ND/RL:OF/RC:C
8.5,CVSS2#AV:N/AC:L/Au:N/C:P/I:N/A:C,6.3,CVSS2#E:U/RL:OF/RC:C
6.8,CVSS2#AV:N/AC:M/Au:N/C:P/I:P/A:P,6.1,CVSS2#E:POC/RL:U/RC:ND
2.6,CVSS2#AV:N/AC:H/Au:N/C:P/I:N/A:N,1.9,CVSS2#E:U/RL:OF/RC:C