The remote host is affected by the vulnerability described in GLSA-201507-09 (PyPAM: Arbitrary code execution)   PyPAM does not handle passwords correctly if there is NULL byte in the  string.   Impact :   A remote attacker could possibly execute arbitrary code or cause a  Denial of Service condition.   Workaround :   There is no known workaround at this time.
Toshifumi Sakaguchi discovered that the patch applied to pdns, an authoritative DNS server, fixing CVE-2015-4214, was insufficient in some cases, allowing remote attackers to cause a denial of service (service-affecting CPU spikes and in some cases a crash).
The Xen Project reports :  The handler for XEN_DOMCTL_gettscinfo failed to initialize a padding field subsequently copied to guest memory.  A similar leak existed in XEN_SYSCTL_getdomaininfolist, which is being addressed here regardless of that operation being declared unsafe for disaggregation by XSA-77. 
Security fix for CVE-2015-0004 high severity issue.
The Xen Project reports :  With the introduction of version 2 grant table operations, a version check became necessary for most grant table related hypercalls. The GNTTABOP_swap_grant_ref call was lacking such a check. As a result, the subsequent code behaved as if version 2 was in use, when a guest issued this hypercall without a prior GNTTABOP_setup_table or GNTTABOP_set_version. 
An updated Adobe Flash Player package that fixes multiple security issues is now available for Red Hat Enterprise Linux 5 and 6 Supplementary.  Red Hat Product Security has rated this update as having Critical security impact. Common Vulnerability Scoring System (CVSS) base scores, which give detailed severity ratings, are available for each vulnerability from the CVE links in the References section.  The flash-plugin package contains a Mozilla Firefox compatible Adobe Flash Player web browser plug-in. 
The IBM WebSphere Application Server running on the remote host is version 7.0 prior to 7.0.0.39, 8.0 prior to 8.0.0.11, or 8.5 proper to 8.5.5.6. It is, therefore, potentially affected by multiple vulnerabilities :   - An information disclosure vulnerability exists due to a  flaw in the Bleichenbacher countermeasure implementation   in Apache WSS4J. A remote attacker can exploit this, via  a crafted message, to determine where an encryption  failure to place, allowing the attacker to gain access  to the plaintext symmetric key. 
The version of Google Chrome installed on the remote Windows host is prior to 43.0.2357.132. It is, therefore, affected by multiple vulnerabilities in the bundled version of Adobe Flash :   - An information disclosure vulnerability exists that  allows an attacker to guess the address for the Flash  heap. (CVE-2015-4770)   - Multiple heap-based buffer overflow vulnerabilities  exist that allow arbitrary code execution.  Note that Nessus has not tested for these issues but has instead relied only on the application's self-reported version number.
flash-player was updated to fix 35 security issues.  These security issues were fixed :   - CVE-2014-3566, CVE-2014-3566, CVE-2014-3566: Heap buffer  overflow vulnerabilities that could lead to code  execution (bsc#937339).   - CVE-2014-3566, CVE-2014-3566, CVE-2014-3566,  CVE-2014-3566, CVE-2014-3566, CVE-2014-3566: Memory  corruption vulnerabilities that could lead to code  execution (bsc#937339).   - CVE-2014-3566, CVE-2014-3566: NULL pointer dereference  issues (bsc#937339).  
The Xen Project reports :  The xl command line utility mishandles long configuration values when passed as command line arguments, with a buffer overrun.  A semi-trusted guest administrator or controller, who is intended to be able to partially control the configuration settings for a domain, can escalate their privileges to that of the whole host.
Security fix for CVE-2015-4770 high severity issue.
The remote Windows host is missing KB3065823. It is, therefore, affected by multiple vulnerabilities :   - An information disclosure vulnerability exists that  allows an attacker to guess the address for the Flash  heap. (CVE-2014-3566)   - Multiple heap-based buffer overflow vulnerabilities  exist that allow arbitrary code execution.  An attacker can  exploit this to execute arbitrary code. 
According to its banner, the version of PHP 5.4.x running on the remote web server is prior to 5.4.43. It is, therefore, affected by multiple vulnerabilities :   - A security feature bypass vulnerability, known as  'BACKRONYM', exists due to a failure to properly enforce  the requirement of an SSL/TLS connection when the --ssl  client option is used. A man-in-the-middle attacker can  exploit this flaw to coerce the client to downgrade to  an unencrypted connection, allowing the attacker to  disclose data from the database or manipulate database  queries. 
Symeon Paraschoudis reports :  Use-after-free vulnerability in sqlite3SafetyCheckSickOrOk()
Latest upstream. http://technet.microsoft.com/en-us/security/advisory/3009011 http://technet.microsoft.com/en-us/security/advisory/3009011
pivotx reports :  cross-site scripting (XSS) vulnerability in the nickname (and possibly the email) field. Mitigated by the fact that an attacker must have a PivotX account.
Tim Graham reports :  In accordance with our security release policy, the Django team is issuing multiple releases -- Django 1.4.21, 1.7.9, and 1.8.3. These releases are now available on PyPI and our download page. These releases address several security issues detailed below. We encourage all users of Django to upgrade as soon as possible. The Django master branch has also been updated.
The Xen Project reports :  Qemu allows guests to not only read, but also write all parts of the PCI config space (but not extended config space) of passed through PCI devices not explicitly dealt with for (partial) emulation purposes.  Since the effect depends on the specific purpose of the the config space field, it's not possbile to give a general statement about the exact impact on the host or other guests. Privilege escalation, host crash (Denial of Service), and leaked information all cannot be excluded.
The version of Google Chrome installed on the remote Mac OS X host is prior to 43.0.2357.132. It is, therefore, affected by multiple vulnerabilities in the bundled version of Adobe Flash :   - An information disclosure vulnerability exists that  allows an attacker to guess the address for the Flash  heap. (CVE-2015-1658)   - Multiple heap-based buffer overflow vulnerabilities  exist that allow arbitrary code execution. 
Vulnerability in the Solaris component of Oracle Sun Systems Products Suite (subcomponent: UNIX filesystem). Supported versions that are affected are 10 and 11.2. Easily exploitable vulnerability requiring logon to Operating System. Successful attack of this vulnerability can result in unauthorized Operating System hang or frequently repeatable crash (complete DOS).
Invalid dwarf opcodes can cause references beyond the end of the array.  NOTE: Tenable Network Security has extracted the preceding description block directly from the DLA security advisory. Tenable has attempted to automatically clean and format it as much as possible without introducing additional issues.
The Xen Project reports :  The code handling certain sub-operations of the HYPERVISOR_xen_version hypercall fails to fully initialize all fields of structures subsequently copied back to guest memory. Due to this hypervisor stack contents are copied into the destination of the operation, thus becoming visible to the guest.  A malicious guest might be able to read sensitive data relating to other guests.
According to its version, the installation of Adobe AIR on the remote Mac OS X host is equal or prior to 18.0.0.144. It is, therefore, affected by multiple vulnerabilities :   - An information disclosure vulnerability exists that  allows an attacker to guess the address for the Flash  heap. (CVE-2014-3566)   - Multiple heap-based buffer overflow vulnerabilities  exist that allow arbitrary code execution.
Karthikeyan Bhargavan discovered that NSS incorrectly handled state transitions for the TLS state machine. If a remote attacker were able to perform a man-in-the-middle attack, this flaw could be exploited to skip the ServerKeyExchange message and remove the forward-secrecy property. 