8089,www,tcp
22,ssh,tcp
445,cifs,tcp
3260,iscsi-target,tcp
21,ftp,tcp
445,appleshare,tcp
2049,acronis_agent,tcp
631,iscsi-target,tcp
548,www,tcp
139,smb,tcp
5353,mdns,udp
137,netbios-ns,udp
5355,llmnr,udp
427,slp,udp
123,ntp,udp
53,dns,udp
3478,stun,udp
111,rpc-portmapper,tcp
111,rpc-portmapper,udp