AV:N/AC:M/Au:N/C:P/I:N/A:N
AV:N/AC:L/Au:N/C:P/I:N/A:N
AV:N/AC:H/Au:N/C:P/I:N/A:N/E:H/RL:U/RC:C
AV:N/AC:M/Au:N/C:P/I:P/A:P
AV:N/AC:M/Au:N/C:P/I:N/A:N/E:POC/RL:OF/RC:C
AV:A/AC:L/Au:N/C:N/I:N/A:P/E:U/RL:OF/RC:C
AV:L/AC:L/Au:N/C:C/I:C/A:C/E:POC/RL:OF/RC:C
AV:N/AC:M/Au:N/C:N/I:N/A:C/E:U/RL:OF/RC:C
AV:L/AC:M/Au:N/C:C/I:N/A:N/E:F/RL:ND/RC:ND
AV:N/AC:H/Au:N/C:P/I:N/A:N/E:ND/RL:ND/RC:ND
AV:N/AC:L/Au:N/C:P/I:P/A:N
AV:N/AC:L/Au:N/C:N/I:P/A:N
AV:N/AC:H/Au:N/C:P/I:N/A:N
AV:N/AC:M/Au:N/C:P/I:N/A:N/E:ND/RL:OF/RC:C
AV:N/AC:L/Au:N/C:P/I:N/A:N/E:H/RL:OF/RC:C
AV:N/AC:H/Au:N/C:P/I:P/A:N/E:ND/RL:OF/RC:C
AV:N/AC:L/Au:N/C:N/I:N/A:P/E:F/RL:OF/RC:ND
AV:N/AC:L/Au:N/C:N/I:P/A:N/E:U/RL:U/RC:C