The remote Windows host is affected by a privilege escalation vulnerability due to improper handling of invalid tasks in the Task Scheduler. If a known invalid task is present on the system a local attacker can exploit the task to cause Task Scheduler to execute a crafted application with System privileges possibly gaining further rights.
The remote Windows host is running a version of the Microsoft .NET Framework that is affected by multiple vulnerabilities : - A denial of service vulnerability exists in the Microsoft .NET Framework due to a recursion flaw that occurs when decrypting XML data. A remote attacker can exploit this via specially crafted XML data to degrade the performance of a .NET website. (CVE-2015-1658) - A privilege escalation vulnerability exists in the Microsoft .NET Framework due to improper handling of objects in memory by .NET's Windows Forms (WinForms) libraries. A remote attacker can exploit this via a specially crafted partial trust application to escalate privileges. (CVE-2015-1658)
The version of Internet Explorer installed on the remote host is missing Cumulative Security Update 3049563. It is therefore affected by multiple vulnerabilities the majority of which are remote code execution vulnerabilities. An attacker can exploit these vulnerabilities by convincing a user to visit a specially crafted website.
The remote Windows host is affected by an information disclosure vulnerability due to Secure Channel (Schannel) allowing the use of a weak Diffie-Hellman ephemeral (DFE) key length of 512 bits in an encrypted TLS session. Usage of weak keys can result in vulnerable key exchanges that are susceptible to various attacks.
The remote Windows host is affected by a flaw due to a failure to properly validate a destination buffer when retrieving icon information from a specially crafted Microsoft Management Console (.msc) file. An unauthenticated remote attacker by tricking a victim into opening a malicious .msc file can exploit this flaw to cause a denial of service.
The version of Windows running on the remote host is affected by multiple vulnerabilities : - Multiple information disclosure vulnerabilities exist due to the Win32k.sys kernel-mode driver improperly handling objects in memory. A local attacker can exploit this to reveal private address information during a function call resulting in the disclosure of kernel memory contents. (CVE-2015-2724 CVE-2015-2724 CVE-2015-2724 CVE-2015-2724 CVE-2015-2724) - A privilege escalation vulnerability exists due to the Win32k.sys kernel-mode driver improperly handling objects in memory. A local attacker can exploit this flaw via a specially crafted application to execute arbitrary code in kernel mode. This vulnerability is reportedly being exploited in the wild. (CVE-2015-2724)
The remote Windows host is affected by an elevation of privilege vulnerability in the Mount Manager component due to improper processing of symbolic links. A local attacker can exploit this vulnerability by inserting a malicious USB device into a user's system allowing the writing of a malicious binary to disk and the execution of arbitrary code.
The version of Internet Explorer installed on the remote host is missing Cumulative Security Update 3088903. It is therefore affected by a remote code execution vulnerability due to a memory corruption issue caused by improper accessing of objects in memory. An unauthenticated remote attacker can exploit this issue by convincing a user to visit a specially crafted website resulting in the execution of arbitrary code in the context of the current user.
The remote Windows host is affected by a privilege escalation vulnerability due to improper validation of user privilege in the Windows User Profile Service (ProfSvc). A local attacker with a specially crafted application can load registry hives associated with other user accounts to execute arbitrary code with elevated permissions.
The remote host is missing one of the workarounds referenced in the Microsoft Security Advisory 3009008. If the client registry key workaround has not been applied any client software installed on the remote host (including IE) is affected by an information disclosure vulnerability when using SSL 3.0. If the server registry key workaround has not been applied any server software installed on the remote host (including IIS) is affected by an information disclosure vulnerability when using SSL 3.0. SSL 3.0 uses nondeterministic CBC padding which allows a man-in-the-middle attacker to decrypt portions of encrypted traffic using a 'padding oracle' attack. This is also known as the 'POODLE' issue.
The remote Windows host is running a version of the Microsoft .NET Framework that is affected by multiple vulnerabilities : - A denial of service vulnerability exists in the Microsoft .NET Framework due to a recursion flaw that occurs when decrypting XML data. A remote attacker can exploit this via specially crafted XML data to degrade the performance of a .NET website. (CVE-2015-4171) - A privilege escalation vulnerability exists in the Microsoft .NET Framework due to improper handling of objects in memory by .NET's Windows Forms (WinForms) libraries. A remote attacker can exploit this via a specially crafted partial trust application to escalate privileges. (CVE-2015-4171)
The version of Windows running on the remote host is affected by multiple vulnerabilities : - Multiple information disclosure vulnerabilities exist due to the Win32k.sys kernel-mode driver improperly handling objects in memory. A local attacker can exploit this to reveal private address information during a function call resulting in the disclosure of kernel memory contents. (CVE-2015-5607 CVE-2015-5607 CVE-2015-5607 CVE-2015-5607 CVE-2015-5607) - A privilege escalation vulnerability exists due to the Win32k.sys kernel-mode driver improperly handling objects in memory. A local attacker can exploit this flaw via a specially crafted application to execute arbitrary code in kernel mode. This vulnerability is reportedly being exploited in the wild. (CVE-2015-5607)
The version of Windows running on the remote host is affected by multiple vulnerabilities : - Multiple information disclosure vulnerabilities exist due to the Win32k.sys kernel-mode driver improperly handling objects in memory. A local attacker can exploit this to reveal private address information during a function call resulting in the disclosure of kernel memory contents. (CVE-2015-4000 CVE-2015-4000 CVE-2015-4000 CVE-2015-4000 CVE-2015-4000) - A privilege escalation vulnerability exists due to the Win32k.sys kernel-mode driver improperly handling objects in memory. A local attacker can exploit this flaw via a specially crafted application to execute arbitrary code in kernel mode. This vulnerability is reportedly being exploited in the wild. (CVE-2015-4000)
The remote Windows host is running a version of the Microsoft .NET Framework that is affected by multiple vulnerabilities : - A denial of service vulnerability exists in the Microsoft .NET Framework due to a recursion flaw that occurs when decrypting XML data. A remote attacker can exploit this via specially crafted XML data to degrade the performance of a .NET website. (CVE-2015-1769) - A privilege escalation vulnerability exists in the Microsoft .NET Framework due to improper handling of objects in memory by .NET's Windows Forms (WinForms) libraries. A remote attacker can exploit this via a specially crafted partial trust application to escalate privileges. (CVE-2015-1769)
The version of Windows running on the remote host is affected by multiple vulnerabilities : - Multiple information disclosure vulnerabilities exist due to the Win32k.sys kernel-mode driver improperly handling objects in memory. A local attacker can exploit this to reveal private address information during a function call resulting in the disclosure of kernel memory contents. (CVE-2015-1769 CVE-2015-1769 CVE-2015-1769 CVE-2015-1769 CVE-2015-1769) - A privilege escalation vulnerability exists due to the Win32k.sys kernel-mode driver improperly handling objects in memory. A local attacker can exploit this flaw via a specially crafted application to execute arbitrary code in kernel mode. This vulnerability is reportedly being exploited in the wild. (CVE-2015-1769)
The remote Windows host is running a version of the Microsoft .NET Framework that is affected by multiple vulnerabilities : - A denial of service vulnerability exists in the Microsoft .NET Framework due to a recursion flaw that occurs when decrypting XML data. A remote attacker can exploit this via specially crafted XML data to degrade the performance of a .NET website. (CVE-2015-1672) - A privilege escalation vulnerability exists in the Microsoft .NET Framework due to improper handling of objects in memory by .NET's Windows Forms (WinForms) libraries. A remote attacker can exploit this via a specially crafted partial trust application to escalate privileges. (CVE-2015-1672)
The version of Windows running on the remote host is affected by multiple vulnerabilities : - Multiple information disclosure vulnerabilities exist due to the Win32k.sys kernel-mode driver improperly handling objects in memory. A local attacker can exploit this to reveal private address information during a function call resulting in the disclosure of kernel memory contents. (CVE-2015-1658 CVE-2015-1658 CVE-2015-1658 CVE-2015-1658 CVE-2015-1658) - A privilege escalation vulnerability exists due to the Win32k.sys kernel-mode driver improperly handling objects in memory. A local attacker can exploit this flaw via a specially crafted application to execute arbitrary code in kernel mode. This vulnerability is reportedly being exploited in the wild. (CVE-2015-1658)
The remote Windows host is running a version of the Microsoft .NET Framework that is affected by multiple vulnerabilities : - A denial of service vulnerability exists in the Microsoft .NET Framework due to a recursion flaw that occurs when decrypting XML data. A remote attacker can exploit this via specially crafted XML data to degrade the performance of a .NET website. (CVE-2014-3566) - A privilege escalation vulnerability exists in the Microsoft .NET Framework due to improper handling of objects in memory by .NET's Windows Forms (WinForms) libraries. A remote attacker can exploit this via a specially crafted partial trust application to escalate privileges. (CVE-2014-3566)
The version of Windows running on the remote host is affected by multiple vulnerabilities : - Multiple information disclosure vulnerabilities exist due to the Win32k.sys kernel-mode driver improperly handling objects in memory. A local attacker can exploit this to reveal private address information during a function call resulting in the disclosure of kernel memory contents. (CVE-2014-3566 CVE-2014-3566 CVE-2014-3566 CVE-2014-3566 CVE-2014-3566) - A privilege escalation vulnerability exists due to the Win32k.sys kernel-mode driver improperly handling objects in memory. A local attacker can exploit this flaw via a specially crafted application to execute arbitrary code in kernel mode. This vulnerability is reportedly being exploited in the wild. (CVE-2014-3566)
The remote Windows host is running a version of the Microsoft .NET Framework that is affected by multiple vulnerabilities : - A denial of service vulnerability exists in the Microsoft .NET Framework due to a recursion flaw that occurs when decrypting XML data. A remote attacker can exploit this via specially crafted XML data to degrade the performance of a .NET website. (CVE-2015-1681) - A privilege escalation vulnerability exists in the Microsoft .NET Framework due to improper handling of objects in memory by .NET's Windows Forms (WinForms) libraries. A remote attacker can exploit this via a specially crafted partial trust application to escalate privileges. (CVE-2015-1681)