82793,  82793 (0/6) MS15-037: Vulnerability in Windows Task Scheduler Could Allow Elevation of Privilege (3046269), 1429372800, MS15-037: Vulnerability in Windows Task Scheduler Could Allow Elevation of Privilege (3046269)  ,1429113600,  <plugin_output> KB3046269 is not installed on this Windows 7 / Windows 2008 R2 system. </plugin_output>
83356,  83356 (445/6) MS15-048: Vulnerabilities in .NET Framework Could Allow Elevation of Privilege (3057134)  ,1452877200,  MS15-048: Vulnerabilities in .NET Framework Could Allow Elevation of Privilege (3057134)  ,1431446400,  <plugin_output> - C:\\Windows\\Microsoft.NET\\Framework\\v2.0.50727\\system.security.dll has not been patched. Remote version : 2.0.50727.5420 Should be : 2.0.50727.5490 - C:\\Windows\\Microsoft.NET\\Framework\\v2.0.50727\\System.Windows.Forms.dll has not been patched. Remote version : 2.0.50727.5420 Should be : 2.0.50727.5491 </plugin_output>
83358,  83358 (445/6) MS15-043: Cumulative Security Update for Internet Explorer (3049563), 1434297600  ,MS15-043: Cumulative Security Update for Internet Explorer (3049563),  1431446400  ,<plugin_output> - C:\\Windows\\system32\\Mshtml.dll has not been patched. Remote version : 8.0.7601.17514 Should be : 8.0.7601.18835 </plugin_output>
83360,  83360 (445/6) MS15-055: Vulnerability in Schannel Could Allow Information Disclosure (3061518), 1447779600  ,MS15-055: Vulnerability in Schannel Could Allow Information Disclosure (3061518),  1431446400, <plugin_output> - C:\\Windows\\system32\\schannel.dll has not been patched. Remote version : 6.1.7601.17514 Should be : 6.1.7601.18843 </plugin_output>
83363,  83363 (445/6) MS15-054: Vulnerability in Microsoft Management Console File Format Could Allow Denial of Service (3051768),  1434297600  ,MS15-054: Vulnerability in Microsoft Management Console File Format Could Allow Denial of Service (3051768), 1431446400  ,<plugin_output> None of the versions of 'comctl32.dll' under C:\\Windows\\WinSxS have been patched. Fixed version : 6.10.7601.23011 </plugin_output>
83370,  83370 (445/6) MS15-051: Vulnerabilities in Windows Kernel-Mode Drivers Could Allow Elevation of Privilege (3057191),  1447693200  ,MS15-051: Vulnerabilities in Windows Kernel-Mode Drivers Could Allow Elevation of Privilege (3057191), 1431446400, <plugin_output> - C:\\Windows\\system32\\Win32k.sys has not been patched. Remote version : 6.1.7601.17514 Should be : 6.1.7601.18834 </plugin_output>
85330,  85330 (445/6) MS15-085: Vulnerability in Mount Manager Could Allow Elevation of Privilege (3082487) ,1439740800,  MS15-085: Vulnerability in Mount Manager Could Allow Elevation of Privilege (3082487),  1439308800, <plugin_output> - C:\\Windows\\system32\\ntdll.dll has not been patched. Remote version : 6.1.7601.17514 Should be : 6.1.7601.18933 </plugin_output>
85540,  85540 (445/6) MS15-093: Security Update for Internet Explorer (3088903),  1442160000  ,MS15-093: Security Update for Internet Explorer (3088903)  ,1440000000,  <plugin_output> - C:\\Windows\\system32\\mshtml.dll has not been patched. Remote version : 8.0.7601.17514 Should be : 8.0.7601.18968 </plugin_output>
80492,  80492 (445/6) MS15-003: Vulnerability in Windows User Profile Service Could Allow Elevation of Privilege (3021674)  ,1452790800,  MS15-003: Vulnerability in Windows User Profile Service Could Allow Elevation of Privilege (3021674), 1421168400  ,<plugin_output> - C:\\Windows\\system32\\profsvc.dll has not been patched. Remote version : 6.1.7601.17514 Should be : 6.1.7601.18706 </plugin_output>
78447,  78447 (445/6) MS Security Advisory 3009008: Vulnerability in SSL 3.0 Could Allow Information Disclosure (POODLE)  ,1445616000 ,MS Security Advisory 3009008: Vulnerability in SSL 3.0 Could Allow Information Disclosure (POODLE),  1413388800  ,<plugin_output> The workaround to disable SSL 3.0 for all server software installed on the remote host has not been applied. The workaround to disable SSL 3.0 for all client software installed on the remote host has not been applied. The following users on the remote host have vulnerable IE settings : S-1-5-21-2648346948-3980226099-3497368033-500 (SSLv3 Enabled) </plugin_output>