,Medium Severity,2,Medium,Medium,0
,Informative,0,Info,None,0
,Low Severity,1,Low,Low,0
I,Low Severity,1,Low,Low,0
I,High Severity,3,High,High,0
I,Medium Severity,2,Medium,Medium,0
I,Critical Severity,4,Critical,Critical,0