http://technet.microsoft.com/en-us/security/advisory/3009008
https://support.microsoft.com/kb/3065823
https://bugzilla.opensuse.org/show_bug.cgi?id=937339
http://dev.mysql.com/doc/relnotes/mysql/5.6/en/news-5-6-25.html
https://bugzilla.opensuse.org/show_bug.cgi?id=934789
https://support.microsoft.com/kb/3065889
http://technet.microsoft.com/en-us/security/advisory/3009010
https://www.redhat.com/security/data/cve/CVE-2015-3116.html
https://helpx.adobe.com/security/products/flash-player/apsa15-03.html
http://rhn.redhat.com/errata/RHSA-2015-1214.html
https://bugzilla.suse.com/936476
https://support.microsoft.com/kb/3065825
https://www.suse.com/security/cve/CVE-2015-1349.html
http://www.nessus.org/u?542e9165
http://technet.microsoft.com/en-us/security/advisory/3009011
https://www.suse.com/security/cve/CVE-2015-3209.html
http://openssl.org/news/secadv_20150709.txt
http://www.openssh.com/txt/release-6.9
https://support.microsoft.com/kb/3065869
http://technet.microsoft.com/en-us/security/advisory/30090076
http://www-304.ibm.com/support/docview.wss?uid=swg27004980
http://seclists.org/bugtraq/2015/Jul/att-10/ESA-2015-108.txt
http://helpx.adobe.com/security/products/flash-player/apsb15-16.html
https://support.microsoft.com/kb/3065823
https://technet.microsoft.com/library/security/2755801
https://alas.aws.amazon.com/ALAS-2015-550.html
https://security-tracker.debian.org/tracker/CVE-2015-1868
https://packages.debian.org/source/jessie/pdns
http://www.debian.org/security/2015/dsa-3307
https://packages.debian.org/source/jessie/pdns-recursor
https://www.djangoproject.com/weblog/2015/jul/08/security-releases/
https://www.wireshark.org/docs/relnotes/wireshark-1.12.6.html
https://mariadb.com/kb/en/mariadb/mariadb-10020-release-notes/
https://oss.oracle.com/pipermail/el-errata/2015-July/005193.html
https://www.suse.com/security/cve/CVE-2015-3134.html
https://office.live.com/start/default.aspx
http://backronym.fail/
http://php.net/ChangeLog-5.php#5.4.43
http://www.squid-cache.org/Advisories/SQUID-2015_2.txt
http://www.squid-cache.org/Advisories/
https://lists.debian.org/debian-lts-announce/2015/07/msg00008.html
https://packages.debian.org/source/squeeze-lts/bind9
http://www.openwall.com/lists/oss-security/2015/06/25/2
http://xenbits.xen.org/xsa/advisory-119.html
http://freeradius.org/security.html
https://security.gentoo.org/glsa/201507-12
https://mariadb.com/kb/en/mariadb/mariadb-10020-changelog/
https://kb.isc.org/article/AA-01267
https://technet.microsoft.com/library/security/MS15-143
https://tools.ietf.org/html/draft-ietf-tls-downgrade-scsv-00
http://www.zerodayinitiative.com/advisories/ZDI-15-191/
https://tools.ietf.org/html/draft-ietf-tls-downgrade-scsv-00
https://www.imperialviolet.org/2014/10/14/poodle.html
http://www.zerodayinitiative.com/advisories/ZDI-15-191/
https://www.openssl.org/~bodo/ssl-poodle.pdf
http://www.zerodayinitiative.com/advisories/ZDI-15-191/
https://www.imperialviolet.org/2014/10/14/poodle.html
https://kb.isc.org/article/AA-01270
https://lists.debian.org/debian-lts-announce/2015/07/msg00008.html
https://lists.debian.org/debian-lts-announce/2015/07/msg00009.html
https://mariadb.atlassian.net/browse/MDEV-7937
https://www.suse.com/security/cve/CVE-2015-4432.html
https://www.suse.com/security/cve/CVE-2015-1321.html
https://www.suse.com/security/cve/CVE-2015-143.html
